[Unit]
Description=bmstuBot
[Service]
Type=simple
WorkingDirectory=/home/gnom/Documents/tg_bots/tgbot_template-master
ExecStart=/bin/bash -c 'cd /home/gnom/Documents/tg_bots/tgbot_template-master/ && source venv/bin/activate && python bot.py run'
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
